.footer{
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
 
  background-color: black;
  text-align: center;
  color:white;
}

.d-flex{
  gap:20px;
}



#book{
  height: 600px;
  width: 100vw;
}