.footer{
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
 
  background-color: black;
  text-align: center;
  color:white;
}

.d-flex{
  gap:20px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  border: thin solid gray;
}


#book{
  height: 600px;
  width: 100vw;
}