html, body {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color-primary: #2BDEFD;
  --color-title: #D7F9FF;
  --color-text: #98D4DE;
  --color-bg-darkhome: #01080E;
  --btn-color-bg: #2BFDBE;
  --btn-color-text: #01080E;
  --fiap-primary: #E81B5C;
}

